In [ ]:
import pandas as pd
df = pd.read_csv('drive/MyDrive/Datasets_1/NDCLD15-with-Segmentation.csv')

In [ ]:
df.head()

,sequenceid,date,format,subjectid,eye,color,contacts,contacts_type,contacts_texture,contacts_toric,contacts_cosmetic,gender,tag_list,pupilX,pupilY,pupilR,irisX,irisY,irisR
0,05963d593,10/27/10 10:48,tiff,nd1S05963,Left,Brown,Yes,Soft,No,Yes,No,Male,"contacts-given\,contacts-soft-given\,contacts-...",350.674891,215.662003,36.470841,360.043268,219.278447,118.345721
1,05963d599,10/27/10 10:48,tiff,nd1S05963,Right,Brown,Yes,Soft,No,Yes,No,Male,"contacts-given\,contacts-soft-given\,contacts-...",330.808406,244.681970,33.865376,322.264281,244.485576,121.535625
2,05842d627,10/27/10 12:05,tiff,nd1S05842,Left,Brown,Yes,Soft,No,No,No,Male,"contacts-given\,contacts-soft-given",325.172781,257.186023,42.265679,329.285238,254.670920,124.160929
3,05842d630,10/27/10 12:05,tiff,nd1S05842,Right,Brown,Yes,Soft,No,No,No,Male,"contacts-given\,contacts-soft-given",305.798037,242.465228,40.948649,300.595904,245.904461,129.083008
4,05812d641,10/28/10 12:22,tiff,nd1S05812,Left,Blue,Yes,Soft,No,No,No,Male,"contacts-given\,contacts-soft-given",322.221219,233.797299,36.391982,325.631376,234.867820,108.648660

In [ ]:
k = df.drop(columns = ['date',	'format'	,'subjectid',	'eye'	,'color','gender'	,'tag_list'	,'pupilX'	,'pupilY'	,'pupilR'	,'irisX',	'irisY',	'irisR'],axis = 1)
k.head()
def label_race(row):
  if row['contacts_texture']=='Yes':
    return 'texture'
  elif row['contacts_cosmetic']=='Yes':
    return 'texture'
  elif row['contacts'] =='Yes':
    return 'soft'
  else:
    return 'nolens'

import numpy as np
# k = k.drop[df['contacts_texture'] =='NaN']
k.drop(k.index[k['contacts_texture'] == 'Unknown'], inplace=True)
k.drop(k.index[k['contacts_texture'] == 'NaN'], inplace=True)
k.shape
k.dropna(subset=['contacts_texture'],inplace=True)
k.drop(k.index[k['contacts_cosmetic'] == 'Unknown'],inplace = True)
k.dropna(subset=['contacts_cosmetic'],inplace=True)
k['cls'] = k.apply (lambda row: label_race(row), axis=1)
k.head()
k['cls'].value_counts()
k = k.drop(columns = ['contacts','contacts_type','contacts_texture','contacts_toric','contacts_cosmetic'],axis = 1)
k.head()
from sklearn.model_selection import train_test_split
train,test = train_test_split(k, test_size=0.1780, random_state=0)
strArr = np.empty(5874, dtype='object')
strArr_1 = np.empty(1273,dtype='object')
for i in range(0,5874):
  strArr[i] = 'train'
for i in range(0,1273):
  strArr_1[i] = 'test'
train['train'] = strArr
test['test'] = strArr_1

In [ ]:
#define function to swap columns
def swap_columns(df, col1, col2):
    col_list = list(df.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    print(x,y)
    temp = col_list[x]
    col_list[x] = col_list[y]
    col_list[y] = temp
    # col_list[y], col_list[x] = col_list[x], col_list[y]
    print(col_list)
    df = df[col_list]
    return df
# train = swap_columns(train, 'sequenceid', 'train')
col_list = ['train','sequenceid','cls']
col_list_1 = ['test','sequenceid','cls']
train = train[col_list]
test = test[col_list_1]
# train_1 = train
# test
train['sequenceid'] = train['sequenceid'] + '.tiff'

In [ ]:
train['sequenceid']

20       06000d663.tiff
4475     06832d284.tiff
2205     06560d362.tiff
3843     06819d126.tiff
7005       07030d5.tiff
             ...
5071      06934d35.tiff
3330     06776d126.tiff
1674    06345d1433.tiff
2651     06507d482.tiff
2781     06590d146.tiff
Name: sequenceid, Length: 5874, dtype: object

In [ ]:
test['sequenceid'] = test['sequenceid'] + '.tiff'

In [ ]:
train.to_csv('drive/MyDrive/Datasets_1/train_NDCLD15.csv',header = False,index=False)
test.to_csv('drive/MyDrive/Datasets_1/test_NDCLD15.csv',header = False,index=False)